/* General styles */
body, p {
    margin: 0;
    padding: 0;
    font-family: kanit;
}

/* Header styles */
header {
    background-color: #5920A4;
}

/* Navigation menu with flex layout */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 1em;
    padding: 2%; 
    margin: 0;
}

/* Navigation menu links */
nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Text color for navigation links */
}

/* Changes the color to lilac when hovering over the menu link */
nav ul li a:hover {
    color: #dcb6e1; /* Lilac color on hover for an interactive effect. */ 
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.logo img {
    transition: transform 0.3s; 
}
 
/* Scale up the image on hover */
.logo img:hover {
    transform: scale(1.1); 
}

/* Main heading styling in index.html */
h1 {
    color: #5920A4; /* Purple color for the main heading title. */
    text-align: center;
    font-size: 2.5em; 
}

/* Margin around the main section in index.html */
main section {
    margin: 2%; 
}

/* Styling for h2 elements within the main section in index.html */
main section h2 {
    color: #5920A4; /* Purple color for subheadings. */
}

/* Footer styles in index.html */
footer {
    text-align: center;
    background-color: #dac6e9;
    padding: 1%; 
}

footer ul {
    list-style: none; /* Removes bullets from list items in the footer */
    padding: 0; /* Removes default padding from the ul */
}

/* Paragraph styles in index.html */
p {
    color: #333; /* Dark gray text color for paragraphs. */
    padding: 1%; 
}

/* paragraph style in fancontent.html */
.p-wrapper p {
    color: #1a191b;
    padding: 3%;
}

/* Wrapper style in index.html */
.home-wrapper {
    max-width: 800px; /* Set a maximum width for content. */
    margin: 0 auto; /* Center content horizontally. */
    background-color: #F5F5F5;
    padding: 2%; 
}

/* wrapper style in disco.html */
.album-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 2%; 
}

/* wrapper style in fancontent.html */
.fan-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 2%; 
}

/* Member card styles in members.html */
.member {
    background-color: #ebe8ee;
    display: flex;
    align-items: center;
    margin-bottom: 2%; 
}

/* Album card styles in disco.html */
.album {
    display: flex;
    align-items: center;
    margin-bottom: 2%; 
    margin-left: 3%;
    margin-right: 4%;
}

/* Image in album card styles in members.html */
.member img {
    max-width: 20%; 
    max-height: 20%; 
    border-radius: 50%;
    margin-right: 2%; 
    margin-left: 5%; 
}

/* Image in album card styles in disco.html */
.album img {
    max-width: 20%; 
    max-height: 20%; 
    margin-right: 2%; 
    margin-left: 5%; 
}

/* Styling for the member information section with flex layout members.html */
.member-info {
    flex: 1;
}

/* Styling for the album information section with flex layout disco.html */
.album-info {
    flex: 1;
}

/* Profile header style for member profiles in members.html */
.profile-header {
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline;
}

/* Hover effect on concert images fancontent.html */
a img:hover {
    transform: scale(1.1); /* Increase image size by 10% on hover */
    transition: transform 0.3s; /* Smooth transition over 0.3 seconds */
}

/* Margin for headings in fancontent.html */
.margin-heading {
    margin-left: 20px; 
    margin-right: 20px; 
}

/* Font-face declaration for the 'kanit' font */
@font-face {
    font-family: kanit;
    src: url(kanit/Kanit-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Stacking concert pic images vertically */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center aligns images horizontally */
}

/* Adds spacing between the stacked images fancontent.html */
.image-container a {
    margin-bottom: 2em; /* Adds a margin of 2 em at the bottom of each stacked image */
}

/* index.html */
.bts-logo {
    max-width: 10em; 
}

/* index.html */
.bts-gq {
    max-width: 50em; 
}

/* index.html */
.bts-speech {
    max-width: 50em; 
}

/* index.html */
.bts-awards {
    max-width: 50em; 
}

/* members.html */
.bts-headshots {
    max-width: 105em; 
}

/* fancontent.html */
.ptdstage {
    width: 60em; 
}

/* fancontent.html */
.loveyourselftour {
    width: 60em; 
}

/* fancontent.html */
.japantour {
    width: 60em; 
}

/* fancontent.html */
.bts-variety-shows {
    max-width: 70em;
}



